 <!-- Content Wrapper. Contains page content -->
 <app-header></app-header>
 <app-sidebar></app-sidebar>
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-orange"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">New Clients</span>
              <span class="info-box-number">450</span>

              <div class="progress">
                <div class="progress-bar bg-orange" style="width: 45%"></div>
              </div>
              <span class="progress-description text-muted">
                    45% Increase in 28 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-orange"><i class="ion ion-ios-eye-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total Visits</span>
              <span class="info-box-number">15,489</span>

              <div class="progress">
                <div class="progress-bar bg-orange" style="width: 40%"></div>
              </div>
              <span class="progress-description text-muted">
                    40% Increase in 28 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-orange"><i class="ion ion-ios-cloud-download-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Downloads</span>
              <span class="info-box-number">55,005</span>

              <div class="progress">
                <div class="progress-bar bg-orange" style="width: 85%"></div>
              </div>
              <span class="progress-description text-muted">
                    85% Increase in 28 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="info-box">
            <span class="info-box-icon push-bottom bg-orange"><i class="ion-ios-chatbubble-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Direct Chat</span>
              <span class="info-box-number">13,921</span>

              <div class="progress">
                <div class="progress-bar bg-orange" style="width: 50%"></div>
              </div>
              <span class="progress-description text-muted">
                    50% Increase in 28 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
         <!-- /.col -->
         <div class="col-xl-4 col-md-6 col-12">
            <div class="info-box">
              <span class="info-box-icon push-bottom bg-orange"><i class="ion-ios-chatbubble-outline"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Direct Chat</span>
                <span class="info-box-number">13,921</span>
  
                <div class="progress">
                  <div class="progress-bar bg-orange" style="width: 50%"></div>
                </div>
                <span class="progress-description text-muted">
                      50% Increase in 28 Days
                    </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
           <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="info-box">
              <span class="info-box-icon push-bottom bg-orange"><i class="ion-ios-chatbubble-outline"></i></span>
  
              <div class="info-box-content">
                <span class="info-box-text">Direct Chat</span>
                <span class="info-box-number">13,921</span>
  
                <div class="progress">
                  <div class="progress-bar bg-orange" style="width: 50%"></div>
                </div>
                <span class="progress-description text-muted">
                      50% Increase in 28 Days
                    </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->			
		
      <div class="row">
        <div class="col-xl-6 connectedSortable">
          <!-- LINE CHART -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">User Statistics</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:228px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
            
            <div class="box-footer">
              <div class="row">
                <div class="col-6 col-sm-3">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                    <h5 class="description-header text-muted font-weight-300">$12,000</h5>
                    <span class="description-text text-muted font-weight-300">DAILY SALES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-6 col-sm-3">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 30%</span>
                    <h5 class="description-header text-muted font-weight-300">$5,000</h5>
                    <span class="description-text text-muted font-weight-300">WEEKLY SALES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-6 col-sm-3">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 60%</span>
                    <h5 class="description-header text-muted font-weight-300">$10,000</h5>
                    <span class="description-text text-muted font-weight-300">MONTHLY SALES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-6 col-sm-3">
                  <div class="description-block">
                    <span class="description-percentage text-purple"><i class="fa fa-caret-up"></i> 50%</span>
                    <h5 class="description-header text-muted font-weight-300">$50,000</h5>
                    <span class="description-text text-muted font-weight-300">Yearly SALES</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
		
		<div class="col-xl-6 connectedSortable">
			<div class="box box-info">
				<div class="box-header with-border">
				  <h3 class="box-title">Analatics</h3>

				  <div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				  </div>
				</div>
				<div class="box-body chart-responsive">
				  <div class="chart" id="line-chart" style="height: 332px;"></div>
				</div>
				<!-- /.box-body -->
            </div>
          <!-- /.box -->
      	</div>         
        <!-- /.col -->        
       </div>        
      <!-- /.row -->		

	  
	
      
	</section>
  
    <!-- /.content -->
  </div>


  <app-footer></app-footer>


  <!-- /.content-wrapper --> 